<!DOCTYPE html>
<html>
  <head>
    <title>ExamenHito</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= link_to 'Nuevo Usuario', new_user_session_path %>
  <%= link_to 'registrar', new_user_registration_path %>
  <%= link_to 'salir', destroy_user_session_path, method: :delete %>

<h1>Bienvenidos</h1>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
